/* Media Queries */
/* @media screen and (max-width: 400px) {
    .title-text {
        color: red;
    }    
} */
/* import fonts from fonts.css file */
/* @import url(./fonts.css); */

/* import css variables */
/* @import url(./partials/_variables.css); */

/* import global css variables */
/* @import url(./partials/_global.css); */


body{
    width: 100%;
    height: 100%;

    margin: auto;
    margin-top: 1.875rem;
    padding: 0rem 2rem;
    box-sizing: border-box;
    text-align: center;    
}

/* *Header Section */

/* Navigation area */

.menu-items{    
    list-style-type: none;

    padding-inline-start: 0rem;    
    margin-bottom: 1rem;
} 



/* Header Section* */

/* *Main Section */
.container{
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 1rem;
}

.avatar{
    margin-top: 3rem;
    max-width: 100%;
}

h1{
    font-size: 2.25rem;
    margin-top: 1.875rem;
    margin-bottom: 0rem;
}

h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.orange-mi{
    color: #D76C00;
}

.green-a{
    color: #006341;
}

.red-go{
    color: #CE1126;
}

#get-in-touch{
    width: 100%;
    height: 3.375rem;
}

.contact{
    font-size: 2.25rem;
    padding-top: 0rem;
}
.site-banner .container .button{
    width: 2rem;
    height: 2rem;
    margin-bottom: 2rem;
} 

.business-intelligence{
    color: #026886;
}

.whatido-area .container {
    margin-bottom: 4rem;
}
.projects-area .container img{
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin-top: 1rem;    
}
.projects-area .container{
    margin-bottom: 4rem;  
}
.experience-area .container h2{
    margin-bottom: 1.5rem;
}

.circle-experience{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #C4C4C4;
    margin: auto;
}
.circle-experience span{
    position: absolute;
    margin-left: 2rem;
    margin-top: .25rem;    
}

.line-experience{
    width: 2px;
    height: 182px;
    background: #C4C4C4;
    margin: auto;
}

.line-experience span{
    position: absolute;
    margin-left: -9rem;
    margin-top: .25rem; 
    text-align: left;
}
.line-experience .what, .line-experience .accomplishments, .line-experience .where{
    font-size: 16px;
}

@media (min-width: 400px){
    #get-in-touch{
        width: 21rem;
    }    
}


/* Main Section* */

/* *Footer Section */

/* Footer Section* */